@import "./styles.scss";
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

@font-face {
  font-family: Ubuntu sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
}
.background-playwindow {
  background-image: url('./assets/guitar-background.jpg');
  background-size: cover;
  height: 586px;
}

.hidden {
  display: none;
}

.nav-background {
  background-color: #53445A;
  // font-family: 'Ubuntu-reg';
  padding: 15px;
}

.thing {
  height: 50px;
  width: 50px;
}