@import "./styles.scss";
@import '~bootstrap/scss/bootstrap.scss';

// .thing {
//   height: 40px;
//   width: 40px;
// }

body {
  margin: 0;
  font-family: "Ubuntu", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
